---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="SYSTEM LOG / [STYLIX]"
  description="A dreamy boy in tech land"
>
  <div class="space-y-4">
    <div>
      Một người thích lập trình, thích học những thứ mới và thích tạo ra những
      thứ có thể chạy được.
    </div>

    <div>
      Trang này là góc nhỏ của mình trên internet, nơi mình ghi lại những gì
      mình học được, những tâm sự của bản thân.
    </div>
    <div>
      Github của mình <a class="font-bold" href="https://github.com/AiEmStylix"
        >ở đây</a
      >
    </div>
  </div>
</BaseLayout>
