---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<header class="uppercase border-4 px-4 py-2">
  <h1 class="text-4xl font-extrabold">System Log / [Stylix]</h1>
  <nav class="">
    <ul class="flex">
      <li
        class="underline after:content-['|'] after:mx-2 last:after:content-none"
      >
        <a href="/posts">Index</a>
      </li>
      <li
        class="underline after:content-['|'] after:mx-2 last:after:content-none"
      >
        <a href="">About</a>
      </li>
      <li
        class="underline after:content-['|'] after:mx-2 last:after:content-none"
      >
        <a href="">RSS</a>
      </li>
    </ul>
  </nav>
</header>
