---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<header class="uppercase px-6 py-4">
  <h1 class="text-4xl font-extrabold">System Log / [Stylix]</h1>
  <nav class="">
    <ul class="flex">
      <li class="after:content-['|'] after:mx-2 last:after:content-none">
        <a href="/" class="underline">Index</a>
      </li>

      <li class="after:content-['|'] after:mx-2 last:after:content-none">
        <a href="/posts" class="underline">Log</a>
      </li>

      <li class="after:content-['|'] after:mx-2 last:after:content-none">
        <a href="/about" class="underline">About</a>
      </li>

      <li class="after:content-['|'] after:mx-2 last:after:content-none">
        <a href="/rss" class="underline">RSS</a>
      </li>
    </ul>
  </nav>
</header>
