---
import WritingLog from "./WritingLog.astro";
---

<div class="space-y-4">
  <h1 class="uppercase text-4xl font-extrabold">Index: [Stylix]</h1>

  <h2 class="uppercase text-2xl font-bold">
    <span class="block">Building performant systems.</span>
    <span class="block">Document everything.</span>
  </h2>
</div>

<hr class="border-t border-gray-400 my-6" />

<WritingLog />

<hr class="border-t border-gray-400 my-6" />
