---
import BlogFooter from "../components/BlogFooter.astro";
import BlogHeader from "../components/BlogHeader.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const { title = "Blog của tôi" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-gray-100">
    <BlogHeader />

    <main class="flex-1 border-t-2 border-4 px-6 py-4">
      <slot />
    </main>

    <BlogFooter />
  </body>
</html>
