---
import BaseLayout from "./BaseLayout.astro";

const { title, category, pubDate } = Astro.props;
const formattedDate = new Date(pubDate).toLocaleDateString("vi-VN");
---

<BaseLayout title={`${title}`}>
  <article class="max-w-3xl mx-auto py-10">
    <div class="prose prose-lg">
      <slot />
    </div>
  </article>
</BaseLayout>
