---
import BaseLayout from "./BaseLayout.astro";

const { title, category, pubDate } = Astro.props;
const formattedDate = new Date(pubDate).toLocaleDateString("vi-VN");
---

<BaseLayout title={`${title}`}>
  <article class="max-w-3xl mx-auto py-10">
    <div
      class="prose prose-lg prose-code:before:content-none prose-code:after:content-none"
    >
      <slot />
    </div>
  </article>
</BaseLayout>
